.header {
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid #737373;
  color: #737373;
  display: flex;
  font-size: 1.4em;
  font-weight: 600;
  height: 3.75rem;
  justify-content: center;
  width: 100vw;
}