.textInput {
  position: relative;
  width: 100%;
}

.textInput > label {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #afafaf;
  font-size: 1.5em;
  text-transform: uppercase;
}

.textInput > input {
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 6px;
  color: #363636;
  font-size: 1em;
  padding: 10px;
  padding-top: 31px;
  width: 100%;
}

.textInput > input:focus ~ label {
  top: 10px;
  font-size: 0.875em;
}